<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>マイページ編集</h2>
      <%= form_with model: @customer, url: update_information_path, method: :patch do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= f.label :"氏名" %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td><%= f.label :"メールアドレス" %></td>
              <td><%= f.text_field :email %></td>
            </tr>
            <tr>
               <td><%= f.label :"画像" %></td>
               <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td><%= f.label :"性別" %></td>
              <td><%= f.text_field :sex %></td>
            </tr>
            <tr>
              <td><%= f.label :"生まれた年" %></td>
              <td><%= f.text_field :birth_year %></td>
            </tr>
            <tr>
               <td><%= f.label :"コメント" %></td>
               <td><%= f.text_area :introduction %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit :"編集内容を保存",class:"btn btn-success"%></td>
              <td><%= link_to "退会する", unsubscribe_path(@customer), class:"btn btn-danger" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>