<h2>いいね一覧</h2>
<table class="table table-bordered border-dark">
   <thead>
    <tr class="table-secondary">
      <th>お店</th>
      <th>メニュー</th>
      <th>点数</th>
      <th>いいね数</th>
      <th>コメント数</th>
      <th>公開日</th>
    </tr>
   </thead>
   <tbody>
     <% @favorites_list.each do |review| %>
     <tr>
        <td><%= link_to review.name,review_path(review) %></td>
        <td><%= review.menu %></td>
        <td id= 'star<%= review.id %>' ></td>
        <td>いいね:<%= review.favorites.count %></td>
        <td>コメント数:<%= review.comments.count %></td>
        <td><%= review.updated_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <script>
       var elem = document.getElementById('star<%= review.id %>');
       var opt = {
        size     : 36,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: <%= review.rate %>
       };
        raty(elem,opt);
      </script>
     <% end %>
   </tbody>
  </table>