<div class="container">
  <div class="row">
    <div class="col-10">
      <h2 class="bg-light text-center">レビューを投稿しよう</h2>
       <%= form_with model: @review, local: true do |f| %>
        <table class="table table-borderless">
         <tbody>
          <tr>
           <td><%= f.label :"店名" %></td>
           <td><%= f.text_field :name, autofocus: true, class: "form-control" %> </td>
          </tr>
          <tr>
           <td><%= f.label :"住所", class: "form-label fw-bold" %></td>
           <td><%= f.text_field :address, placeholder: "住所を入力してください", class: "form-control" %></td>
          </tr>
          <tr>
           <td><%= f.label :"メニュー" %></td>
           <td><%= f.text_field :menu, class: "form-control" %></td>
          </tr>
          <tr>
           <td><%= f.label :"分類" %></td>
           <td><%= f.collection_select :type_id, Type.all, :id, :name,include_blank: "選択して下さい" %></td>
          </tr>
          <tr>
           <td><%= f.label :"スープ" %></td>
           <td><%= f.collection_select :soup_id, Soup.all, :id, :name,include_blank: "選択して下さい" %></td>
          </tr>
          <tr>
           <td><%= f.label :rate, "評価" %></td>
           <td><div id="star"><%= f.hidden_field :rate, id: :review_star %></div></td>
          </tr>
          <tr>
           <td><%= f.label :"写真" %></td>
           <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
           <td><%= f.label :"コメント" %></td>
           <td><%= f.text_area :introduction, class: "form-control" %></td>
          </tr>
         </tbody>
        </table>
        <div class="form-group">
          <%= f.select :status, Review.statuses.keys.map { |k| [I18n.t("enums.review.status.#{k}"),k]} %>
        </div>
        <div>
         <%= f.submit "レビューを投稿する",class:"btn btn-success center-block" %>
        </div>
       <% end %>
   </div>
  </div>
</div>

<script>
var elem = document.getElementById('star');
var opt = {
    size     : 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'review[rate]'
  };
  raty(elem,opt);
</script>