<div class="container">
  <div class="row-lg-11">
    <h2 class="bg-light text-center">ラーメンレビューボックスログイン</h2>
     <div class="col-11">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <table class="table table-borderless text-center">
        <tbody>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "sample@example.com",size:"40" %></td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td><%= f.password_field :password, autocomplete: "current-password",size:"40" %></td>
          </tr>
        </tbody>
       </table>
      <div class="row justify-content-center"><%= f.submit "ログイン",class:"btn btn-primary center-block" %></div>
    <% end %>
    <div class="row justify-content-center"><%= render "public/shared/links" %></div>
   </div>
  </div>
</div>